<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testBasicDiff()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00024052</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 30, 2017, 23:44:11</string>
				</dict>
			</dict>
			<key>testLargeCollection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.36975</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 30, 2017, 23:44:06</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
